@import "styles/definitions.scss";

.container{
  // margin-top: 3.5rem;
  // margin-inline: 10%;
  display: flex;
  width: 100%;


  

  .editor{
    width: 80vw;
    height: 100vh;
    padding: 1rem;
    overflow-y: auto;
    .image-container{
      @include nextjs-responsive-image-container;
      margin-bottom: 1rem;
    }
  }
}







